*{

    font-size: 100%;
}
body {
    font-family: Arial, sans-serif;
    background-color:rgb(255, 165, 0, .28);
}


h1 {
    text-align: center;
    color: #333;
    margin-top: 50px;
}

.login-wrapper {
    
    background-color: #dfdcdc;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

input[type="submit"],
input[type="reset"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

input[type="reset"] {
    background-color: #f44336;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #333;
}
form h2 {
    text-align: center;
}
form a {
    text-decoration: none;
    
} 
button{
    margin-top: 10px;
}