* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body {
    font-family: Arial, sans-serif;
    background-color:rgb(255, 165, 0, .28);
}

.navbar{

            height: 60px;
            width: 100%;
            border: none;
            background-color: rgb(216, 145, 14);
            display: flex;

            
            position: relative;
            justify-content: flex-end;
             
            border-bottom: 5px solid silver;

}


.navbar .logo {
    position: absolute;
    top: 15px;
    left: 10px;
    color:  rgb(77, 61, 31);
    font-size: 30px;
    font-weight: 700;
}

a {
    text-decoration: none;
}


.nav-items {

    width: 70%;
    background: rgb(255, 175, 15, .5);
    height: 100%;
 
}

ul {
    width: 100%;
    height: 100%;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
     
  
}

a {
    text-decoration: none;
 
}
ul li {

    font-weight: 700;
    color:rgb(3, 108, 64);
    padding: 5px 10px;
    border-radius: 5px;
    border-bottom: 2px solid rgba(0, 255, 68, 0.5);
}

ul li:hover {

    color: wheat;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: green;
}


/* for the states of navbar links */


.navbar .nav-items ul a:active {
    background-color: #ff0000;  
    color: #fff;  
  }
  

  .navbar .nav-items ul li:visited {
    background-color: #ff0000; /* Set your desired background color here */
    color: #fff; /* Set your desired text color here */
  }

  
  